extends layout

block content
  h1= title
  p You've found yourself wondering through unfamiliar lands.
  p You can views what others have written only if you know the secret passcode. No sniffers allowed.
  div Links: 
    a(href='/sign-up') Sign-Up
    a(href='/join-club') Join Club
    a(href='/messages') Messages
  if !user
    h2 please log in
    form(action='' method="POST")
      label(for="username") Username
      input(name="username" placeholder="username" type="text") 
      label(for="password") Password 
      input(name="password" type="password")
      button(type="submit") Log In
    li= message
  else 
    h2 Nice to see you! 
    a(href='/messages/create') Create a new message!
