extends layout

block content
  h1= title
  p You've found yourself wondering through unfamiliar lands.
  p You can views who created certain messages only if you know the secret passcode. No sniffers allowed.
  a(href='/messages') Messages
  if !user
    h2 please log in or sign-up 
    a(href='/sign-up') Sign-Up
    form.login-form(action='' method="POST")
      label(for="username") Email:
      input(name="username" type="text") 
      label(for="password") Password: 
      input(name="password" type="password")
      button(type="submit") Log In
    if messages
      - const lastErrorMessage = messages[messages.length - 1]
      li=  messages[messages.length - 1]
    else  
  else 
    div.logged-box
      a(href='/join-club') Join Club
      h2 Nice to see you! 
      a(href='/messages/create') Create a new message!
