extends layout

block content 
    h1= title 
    div     
        h2 Enter special passcode to become a member! 
        form(method='POST', action='')
            label(for='passcode') Passcode:
            input(type='text' name='passcode')
            button(type='submit') Submit