* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    padding: 0;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.message-container {
    margin: 1rem;
    min-width: 350px;
    max-width: 500px;
    border: 1px solid black;
} 

.login-form {
    margin-top: 1rem;
}

.logged-box {
    margin-top: 1rem;
}

