* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.message-container {
    margin: 1rem;
    min-width: 350px;
    max-width: 500px;
    border: 1px solid black;
} 

